
	<div class="book-toolbar">
		<button class="btn m blank remove-instance" ng-click="removeInstance()">✖</button>
		<div class="toolbar-menu clearfix">
			<div class="tab" ng-class="{active: currentTabIs('navigation')}" 
				 ng-click="switchToTab('navigation')">Навігація</div>
			<div class="tab" ng-class="{active: currentTabIs('search')}"
				 ng-click="switchToTab('search')">Пошук</div>
			<div class="tab" ng-class="{active: currentTabIs('share')}"
				 ng-click="switchToTab('share')">Поділитися</div>
		</div>
		<div ng-if="currentTabIs('search')" class="search-box">
			<input type="text" placeholder="Шукати в Біблії" id="search" ng-model="searchParam" 
				class="inp txt m sensation search" ng-keyup="runSearch($event, searchParam)">
			<button class="btn m primary find" ng-click="runSearch($event, searchParam)">Знайти</button>
			<div class="search-settings">
				<input type="radio" ng-model="booksToSearchIn.option" 
						name="search-place" value="selected" id="in-checked-books">
				<label for="in-checked-books">
					обрані книги
				</label>
				<input type="radio" ng-model="booksToSearchIn.option"
						name="search-place" value="all" id="in-all-books">
				<label for="in-all-books">
					усі книги
				</label>
				<span class="results-link" ng-if="searchResults" ng-click="displayResults(!showResults)">
					результати <span class="amount" ng-bind="'('+searchResults.length+')'"></span>
				</span>
			</div>
		</div>
		<div ng-if="currentTabIs('share') === true" class="share-box">
			<div class="summery" ng-bind="reference | BibleReference"></div>
			<div class="share-link">{{'http://adventamo.com/#' + reference}}</div>
		</div>
		<div ng-if="currentTabIs('navigation')" class="navigation-box clearfix">
			<div class="clearfix">
				<div class="select-book">
					<input type="text" ng-model="bibleBook" id="bible-book"
					placeholder="книга Біблії" class="inp txt m sensation search">
					<div class="autocomplete" as-autocomplete-for="#bible-book" 
					bible-book="bibleBook" switch-to-book="switchToBook"></div>
				</div>
				<button class="btn m primary go" ng-click="visitReference(reference)">Пройти</button>
			</div>
			<div class="navigation-agents">
				<div class="agent" ng-repeat="chapter in state.book.chapters"
					 ng-class="{active: state.chapterIndex === $index}"
					 ng-if="state.book.chapters.length > 1" 
					 ng-click="navigate({chapter: $index + 1, verse: 0})">.
					  <span class="pointer">{{$index + 1}}</span>
				</div>
			</div>
			<div class="navigation-agents">
				<div class="agent" ng-repeat="verse in state.chapterMap"
					 ng-class="{active: state.verseIndex === $index}"
					 ng-click="navigate({verse: $index + 1})">
					.<span class="pointer">{{$index + 1}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="spinner-wrapper" ng-if="inProcess">
		<div class="loader">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="reader bible slim-scroll">
		<div class="search-results slim-scroll" ng-if="searchResults.length && showResults && currentTabIs('search')">
			<div class="result-item"
				 ng-repeat="result in searchResults | orderBy: '-rate'" 
				 ng-mousedown="actionWithResultItem($event, result.reference)">
				{{result.reference | BibleReference}} <span ng-bind="result.rate"></span>
				<div class="scripture" ng-bind-html="result.scripture"></div>
			</div>
		</div>
		<div class="book" id="{{book.id}}"
			 ng-repeat="book in books track by $index"
			 ng-class="{open: book.open}"
			 title="{{book.name}}">
			<div class="book-name" ng-click="toggleBook(book)">
				<span as-stop-prop class="book-checker go-left">
					<input type="checkbox" ng-model="book.checked">
				</span>
				<span class="alias">{{book.alias}}</span>
				<span class="name">{{book.name}}</span>
			</div>
			<div class="chapters">
				<div class="chapter" ng-repeat="chapter in book.chapters track by $index">
					<div class="chapter-number">
						<span class="esc" ng-click="toggleBook(book)">-</span>
						{{book.alias + " " + ($index + 1)}}
					</div>
					<div class="verses">
						<p class="verse" ng-repeat="verse in chapter track by $index" 
						   ng-mousedown="handeleVerseManipulation($event, book.id + ':' + ($parent.$index + 1) + ':' + ($index + 1))">
							{{$index + 1 + " " + verse}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="reader-footer">
		<div class="go-right" ng-click="navigate(reference)">{{reference}}</div>
	</div>

