
	<div class="book-toolbar">
		<button class="btn m blank remove-instance" ng-click="removeInstance()">✖</button>
		<div class="share-box">
			<div class="go-left">http://adventistspace/#</div>
			<input type="text" placehoder="Біблійний текст" id="ref" ng-model="reference" 
				class="inp txt sensation share">
		</div>
		<div class="select-book">
			<input type="text" ng-model="bibleBook" id="bible-book"
			placehoder="Біблійний текст" class="inp txt m sensation search">
			<div class="autocomplete" as-autocomplete-for="#bible-book" 
			bible-book="bibleBook" switch-to-book="switchToBook"></div>
		</div>
		<button class="btn m go" ng-click="visitReference(reference)">Пройти</button>
	</div>
	<div class="reader bible">
		<div class="book" id="{{book.id}}"
			 ng-repeat="book in books track by $index"
			 ng-class="{open: book.state}">
			<div class="book-name" ng-click="toggleBook(book.id)">{{book.name}}</div>
			<div class="chapters">
				<div class="chapter" ng-repeat="chapter in book.chapters track by $index">
					<div class="chapter-number">
						<span class="esc" ng-click="toggleBook(book.id)">-</span>
						{{book.alias + " " + ($index + 1)}}
					</div>
					<div class="verses">
						<p class="verse" ng-repeat="verse in chapter track by $index" 
						ng-mousedown="reactOnWheel($event, book.id + ':' + ($parent.$index + 1) + ':' + ($index + 1))">
							{{$index + 1 + " " + verse}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


