.readers-wrapper {
    background: rgba(224, 220, 197, 0.75);
	height: 100%;
    left: 0;
	position: fixed;	
	padding-top: 6%;
    padding-bottom: 6%;
    top: 0;
	width: 100%;
}

.books-wrapper {
    border-radius: 5px;
	display: flex;
    height: 100%;
	justify-content: center;
    position: relative;
}
.reader-toolbar {
	border-radius: 5px 5px 0 0;
	height: 80px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.book-wrapper {
	float: left;
	height: 100%;
	padding: 80px 0 0 0;
	position: relative;
}
.book-wrapper:not(:last-of-type) {
	margin-right: 12px;
}
.book-wrapper .toolbar-menu {
	font-size: 14px;
	position: absolute;
	top: -22px;
}
.toolbar-menu .tab {
	background: #6383b5;
	color: #fff;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    float: left;
    margin-left: 4px;
    padding: 2px 8px;
}
.toolbar-menu .tab.active {
	background: #fff;
	color: #6383b5;
}
.search-box {
	padding: 8px;
}
.search-box .search-settings {
	margin-top: 8px;
}
.search-box .search-settings label {
	cursor: default;
}
.search-results {
	background: #fff;
	border-radius: 0 0 4px 4px;
    bottom: 0;
    height: calc(100% - 80px);
    left: 0;
	overflow: auto;
	padding: 8px;
	position: absolute;
    width: 100%;
}
.result-item {
	background: #fff;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 16px;
}
.result-item .scripture {
	color: #6383b5;
	font-size: inherit;
	text-align: justify;
}
.result-item .match {
	color: #877063;
	font-size: inherit;
	font-weight: bold;
}
.results-link {
	color: #6383b5;
	cursor: pointer;
	float: right;
}

.book-wrapper .share-box {
	padding: 8px;
}
.book-wrapper .share-box * {
	font-size: 14px;
}
.book-toolbar {
	background: #fff;
	border-radius: 5px 5px 0 0;
    box-shadow: 0 3px 16px -3px rgba(0, 0, 0, .04);
	font-size: 16px;
	height: 80px;
	position: absolute;
	top: 0;
	width: 100%;
}
.book-toolbar * {
	font-size: 16px;
}
.book-toolbar .share-box {
	width: 100%;
}
.share-box .summery {
	margin: auto;
	text-align: center;
	width: 80%;
}

.book-toolbar .inp.share:focus {
	background: #fff;
	border: 1px solid #fff;
}
.share-link {
	box-shadow: 0 0 0 1px #eee;
    margin: 4px auto;
    padding: 4px 0;
    text-align: center;
}
.book-toolbar input[type='text'].search {
	border-radius: 2px 0 0 2px;
	border-right: none;
	margin-right: 0;
	width: 208px;
}
.book-toolbar .search:focus {
	border-color: #6383b5;
	outline: none;
}
.book-toolbar .search:not(:focus) + .autocomplete {
	display: none;
}
.book-toolbar .select-book {
	float: left;
	min-width: 208px;
}
.autocomplete {
	background: #fff;
	box-shadow: inset 0 0 0 1px #eee;s
	cursor: pointer;
    left: 8px;
	position: absolute;
    top: 44px;
	width: 209px;
	z-index: 9;
}
.autocomplete .item:hover {
	background: #eee;
}
.autocomplete .item {
	cursor: pointer;
	padding: 4px 8px;
}
.navigation-box {
	overflow: hidden;
	padding: 8px;
}
.book-toolbar .inp.ng-invalid-pattern {
	color: #ff7777;
}
.book-toolbar .btn.primary {
	background: #6383b5;
	border-radius: 0 2px 2px 0;
    color: #fff;
}
.book-toolbar .btn.go,
.book-toolbar .btn.find {
	width: 76px
}
.book-toolbar .inp.search,
.book-toolbar .btn.go {
	float: left;
}
.navigation-agents {
	box-shadow: inset 0 0 0 1px #eee;
    border-radius: 4px;
    display: flex;
    margin: 6px 0 0 0;
    width: 100%;
}
.navigation-agents .agent {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	height: 9px;
	flex-grow: 2;
	float: left;
	font-size: 5px;
	margin: auto;
	position: relative;
	text-align: center;
}
.navigation-agents .agent:first-child {border-radius:4px 0 0 4px;}
.navigation-agents .agent:last-child {border-radius: 0 4px 4px 0;}
.navigation-agents .agent:hover {
	background: #6383b5;
	color: #fff;
}
.navigation-agents .agent:hover .pointer {
	display: block;
}
.navigation-agents .agent .pointer {
    background: #fff;
	border: 1px solid #6383b5;
    border-radius: 2px;
    color: #6383b5;
    display: none;
    font-size: 12px;
    height: 14px;
    line-height: 13px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: -20px;
    width: 20px;
}
.navigation-agents .agent .pointer:after {
    border: 4px solid transparent;
    border-top: 5px solid #6383b5;
    bottom: -9px;
    content: "";
    left: 5.5px;
    position: absolute;
}

.book-toolbar .btn.remove-instance {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: -30px;
	z-index: 99;
}

	[as-reader] {
		height: 100%;
	}
	.bible.reader {
		background: #6383b5;
		border-radius: 0 0 0 5px;
		height: 100%;
		overflow-y: auto;
		width: 300px;
	}
	.bible.reader .book {
		padding: 0 16px;
	}
	.bible.reader .book.open {
		background: #fff;
		padding-bottom: 28px;
	}
	.bible.reader .book.open .book-name {
		color: #6383b5;
	}
	.bible.reader .book-name {
		color: #fff;
		cursor: pointer;
		font-size: 18px;
		padding: 8px 0;
		text-align: center;
	}
	.bible.reader .book-checker {
		line-height: 19px;
	}
	.bible.reader .chapter-number {
		color: #6383b5;
		font-size: 17px;
		margin: 8px auto;
		text-align: center;
		width: 50%;
	}
	.bible.reader .chapters {
		display: none;
	}
	.bible.reader .book.open .chapters {
		display: block;
	}
	.bible.reader .verse {
		cursor: default;
		font-size: 16px;
		margin-bottom: 1px;
		padding: 1.5px 12px;
		text-align: justify;
	}
	.bible.reader .verse.spotlight {
		background: #6383b5;
		border-radius: 2px;
		color: #fff;
	}
	.bible.reader .esc {
		border-radius: 50%;
		color: #6383b5;
		cursor: pointer;
		float: right;
		font-size: 21px;
		height: 16px;
		line-height: 14px;
		margin-left: -16px;
		margin-top: 2px;
		width: 16px;
	}
	.bible.reader .esc:hover {
		background: #6383b5;
		color: #fff;
	}
	.close-modal {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
	}