<div>
	<div class='gifts flex'>
		<div mode class='gift word' ng-click='$ctrl.showGiftsModal = 1'></div>
		<div mode class='gift low' ng-click='$ctrl.showGiftsModal = 2'></div>
		<div mode class='gift bible' amo-reader-link ng-click='mainCtrl.showBibleReader(); $ctrl.showGiftsModal = 0'></div>
		<div mode class='gift church' ng-click='$ctrl.showGiftsModal = 4'></div>
		<div mode class='gift infinity' ng-click='$ctrl.showGiftsModal = 5'></div>
	</div>
	<div cloud class='modal ng-hide' ng-show="$ctrl.showGiftsModal > 0">
		<div class='window'>
			<div class='head'>
				<span ng-show='$ctrl.showGiftsModal === 1'>Иисус Христос - Cпаситель всего мира.</span>
				<span ng-show='$ctrl.showGiftsModal === 2'>Десятисловный Божий Закон</span>
				<span ng-show="$ctrl.showGiftsModal === 3">Библия - Слово Божие</span>
				<span ng-show='$ctrl.showGiftsModal === 4'>Божья Церковь</span>
				<span ng-show='$ctrl.showGiftsModal === 5'>Спасение и вечная жизнь</span>
				<div close class='close' ng-click='$ctrl.showGiftsModal = 0'>✖</div>
			</div>
			<div class='body'>
				<div ng-show='$ctrl.showGiftsModal === 2'>
					<div class='columns flex'>
						<div class='col'>
							<p>1 Я Господь, Бог твой, Который вывел тебя из земли Египетской, из дома рабства.
							</p>
							<p>2 Да не будет у тебя других богов пред лицем Моим. Не делай себе кумира и никакого изображения того, что на небе вверху, и что на земле внизу, и что в воде ниже земли; не поклоняйся им и не служи им, ибо Я Господь, Бог твой, Бог ревнитель, наказывающий детей за вину отцов до третьего и четвертого рода, ненавидящих Меня, и творящий милость до тысячи родов любящим Меня и соблюдающим заповеди Мои.
							</p>
							<p>3 Не произноси имени Господа, Бога твоего, напрасно, ибо Господь не оставит без наказания того, кто произносит имя Его напрасно.
							</p>
							<p>4 Помни день субботний, чтобы святить его; шесть дней работай и делай (в них) всякие дела твои, а день седьмой — суббота Господу, Богу твоему: не делай в оный никакого дела ни ты, ни сын твой, ни дочь твоя, ни раб твой, ни рабыня твоя, ни (вол твой, ни осел твой, ни всякий) скот твой, ни пришлец, который в жилищах твоих; ибо в шесть дней создал Господь небо и землю, море и все, что в них, а в день седьмой почил; посему благословил Господь день субботний и освятил его.
							</p>
						</div>
						<div class='col'>
							<p>5  Почитай отца твоего и мать твою, (чтобы тебе было хорошо и) чтобы продлились дни твои на земле, которую Господь, Бог твой, дает тебе.
							</p>
							<p>6 Не убивай.
							</p>
							<p>7 Не прелюбодействуй.
							</p>
							<p>8 Не кради.
							</p>
							<p>9 Не произноси ложного свидетельства на ближнего твоего.
							</p>
							<p>10 Не желай дома ближнего твоего; не желай жены ближнего твоего; ни раба его, ни рабыни его, ни вола его, ни осла его, ничего, что у ближнего твоего.
							</p>
						</div>
					</div>
					<div class=''>
						<p class='origin' amo-reader-link="ru:ex:20">Закон даный Богом через Моисея | книга Исход 20 глава</p>
					</div>
				</div>									
				<div ng-show='$ctrl.showGiftsModal === 1'>
					<p>
						Благодаря жертве Христа мы получили шанс на спасение и вечную жизнь
					</p>
					<p>
						Библия повествует о том, что Иисус сотворил Землю и все на ней.
					</p>
					<div class='bible-verse w300'>
						Ибо не послал Бог Сына Своего в мир, чтобы судить мир, но чтобы мир спасен был чрез Него.
					</div>
					<div class='bible-verse w300'>
						Ибо в Нем обитает вся полнота Божества телесно.
						<div class='autor' amo-reader-link="ru:col:2:9">Слова Апостола Павла о Иисусе Христе | Послание Колоссянам глава 2 стих 9</div>
					</div>
					<div class='expander collapsed'>

					</div>
					<div class='columns flex'>
						<div class='col'>
							<p class='autor' href="ru:john1:2:1-2" auto-text></p>
						</div>
					</div>
				</div>
				<div ng-show='$ctrl.showGiftsModal === 3'>
					<div class='bible-verse w300 expander collapsed'>
						<div class='message'>
							Все Писание богодухновенно и полезно для научения, для обличения, для исправления, для наставления в праведности
							<div class='autor'>Слова апостола Павла | 2-е Тимофею роздел 3:16</div>
						</div>
					</div>
				</div>
				<div ng-show='$ctrl.showGiftsModal === 4'>

				</div>
				<div ng-show='$ctrl.showGiftsModal === 5'>

				</div>
			</div>
			<div class='footer' ng-show='$ctrl.showGiftsModal === 2'>
				<div class='columns flex'>
					<div class='col'>
						<p>
							1 Сын мой! наставления моего не забывай, и заповеди мои да хранит сердце твое
						</p>
						<p>
							2 ибо долготы дней, лет жизни и мира они приложат тебе.
						</p>
						<p class='autor' amo-reader-link="ru:prov:3:1-2">Слова Соломона | Притчи 3:1-2</p>
					</div>
				</div>
				<div class='columns flex'>
					<div class='col'>
						<p>8 Мудрый сердцем принимает заповеди, а глупый устами преткнется.</p>
						<p class='autor' amo-reader-link="ru:prov:10:18">Слова Соломона | Притчи 10:8</p>
					</div>
				</div>
				<div class='columns flex'>
					<div class='col'>
						<p>А что мы познали Его, узнаем из того, что соблюдаем Его заповеди.</p>
						<p>Кто говорит: "я познал Его ", но заповедей Его не соблюдает, тот лжец, и нет в нем истины;</p>
						<p class='autor' href="ru:john1:2:3-4" auto-text></p>
					</div>
				</div>
				<div class='columns flex'>
					<div class='col'>
						<p>Что мы любим детей Божиих, узнаём из того, когда любим Бога и соблюдаем заповеди Его</p>
						<p class='autor' href="ru:john1:5:2" auto-text></p>
					</div>
				</div>
				<div class='columns flex'>
					<div class='col'>
						<p>Итак, мы уничтожаем закон верою? Никак; но закон утверждаем.</p>
						<p class='autor' amo-reader-link="ru:rom:3:31" auto-text></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>