<div>
	<div class='gifts flex'>
		<div mode class='gift word' ng-click='showGiftsModal = 1'></div>
		<div mode class='gift low' ng-click='showGiftsModal = 2'></div>
		<div mode class='gift bible' ng-click='mainCtrl.showBibleReader(); showGiftsModal = 0'></div>
		<div mode class='gift church' ng-click='showGiftsModal = 4'></div>
		<div mode class='gift infinity' ng-click='showGiftsModal = 5'></div>
	</div>
	<div cloud class='modal ng-hide' ng-show="showGiftsModal > 0">
		<div class='window'>
			<div class='head'>
				<span ng-show='showGiftsModal === 1'>Ісус Христос - Cпаситель усього світу.</span>
				<span ng-show='showGiftsModal === 2'>Десятислівний Божий Закон</span>
				<span ng-click="showGiftsModal === 3">Біблія - Слово Боже</span>
				<span ng-show='showGiftsModal === 4'>Божа Церква</span>
				<span ng-show='showGiftsModal === 5'>Спасіння та вічне життя</span>
				<div close class='close' ng-click='showGiftsModal = 0'>✖</div>
			</div>
			<div class='body'>
				<div ng-show='showGiftsModal === 2'>
					<div class='columns flex'>
						<div class='col'>
							<p>1 Я Господь, Бог твой, Который вывел тебя из земли Египетской, из дома рабства.
							</p>
							<p>2 Да не будет у тебя других богов пред лицем Моим. Не делай себе кумира и никакого изображения того, что на небе вверху, и что на земле внизу, и что в воде ниже земли; не поклоняйся им и не служи им, ибо Я Господь, Бог твой, Бог ревнитель, наказывающий детей за вину отцов до третьего и четвертого рода, ненавидящих Меня, и творящий милость до тысячи родов любящим Меня и соблюдающим заповеди Мои.
							</p>
							<p>3 Не произноси имени Господа, Бога твоего, напрасно, ибо Господь не оставит без наказания того, кто произносит имя Его напрасно.
							</p>
							<p>4 Помни день субботний, чтобы святить его; шесть дней работай и делай (в них) всякие дела твои, а день седьмой — суббота Господу, Богу твоему: не делай в оный никакого дела ни ты, ни сын твой, ни дочь твоя, ни раб твой, ни рабыня твоя, ни (вол твой, ни осел твой, ни всякий) скот твой, ни пришлец, который в жилищах твоих; ибо в шесть дней создал Господь небо и землю, море и все, что в них, а в день седьмой почил; посему благословил Господь день субботний и освятил его.
							</p>
						</div>
						<div class='col'>
							<p>5  Почитай отца твоего и мать твою, (чтобы тебе было хорошо и) чтобы продлились дни твои на земле, которую Господь, Бог твой, дает тебе.
							</p>
							<p>6 Не убивай.
							</p>
							<p>7 Не прелюбодействуй.
							</p>
							<p>8 Не кради.
							</p>
							<p>9 Не произноси ложного свидетельства на ближнего твоего.
							</p>
							<p>10 Не желай дома ближнего твоего; не желай жены ближнего твоего; ни раба его, ни рабыни его, ни вола его, ни осла его, ничего, что у ближнего твоего.
							</p>
						</div>
					</div>
					<div class=''>
						<p class='origin' as-reader-link="ru:ex:20">Закон даний Богом через Моісея | книга Вихід 20 розділ</p>
					</div>
				</div>									
				<div ng-show='showGiftsModal === 1'>
					<p>
						Завдяки Його жертві, яку Він проявив, прийшовши на Землю як людина, ми отримали примирення з Богом.
					</p>
					<p>
						В книзі Буття розповідається що Ісус творив Землю та все на ній.
					</p>
					<div class='bible-verse w300'>
						Ибо не послал Бог Сына Своего в мир, чтобы судить мир, но чтобы мир спасен был чрез Него.
					</div>
					<div class='bible-verse w300'>
						Ибо в Нем обитает вся полнота Божества телесно.
						<div class='autor' as-reader-link="ru:col:2:9">Слова Апостола Павла про Ісуса Христа | Послання до Колоссян розділ 2 вірш 9</div>
					</div>
					<div class='expander collapsed'> i</div>
					
					<div class='columns flex'>
						<div class='col'>
							<p></p>
							<p></p>
							<p class='autor' href="ru:john1:2:1-2">Перше послання від Іоанна 2:3-4</p>
						</div>
					</div>
				</div>
				<div ng-show='showGiftsModal === 3'>
					<!--Біблія - Слово Боже. Ця велика книга, хоча й написана руками вірних божих людей, але її автором є сам Бог.
					<div class='bible-verse w300 expander collapsed'>
						<div class='message'>
							Все Писание богодухновенно и полезно для научения, для обличения, для исправления, для наставления в праведности
							<div class='autor'>Слова апостола Павла | 2-е Тимофію розділ 3:16</div>
						</div>
					</div>-->
				</div>
				<div ng-show='showGiftsModal === 4'>
					В період до потопу Бог не засновував на Землі церкву, як організацію, але Бог підтримував спілкування з людством.
					В часи Моісея, церква набуча чіткої структури...
					Коли Ісус Христос розпочав своє служіння - церква стала формуватися, як організація подібна сучасній.
					<div>
						И я говорю тебе, ты - Петр, и на сем камне...
					</div>
					<div class='autor' as-reader-link="ru:matt:16:18">
						Слова Ісуса Христа | Матвія 16:18
					</div>
					<div>
						ибо из Иерусалима произойдет остаток, и спасенное от горы Сиона. Ревность Господа Саваофа сделает сие.
					</div>
					<div class='autor'>
						<p class="source" ng-click="mainCtrl.showBibleReader('ru:kings2:19:31')">
							Слова Божі через пророка Ісайю | 4-а книга царів 19:31
						</p>
					</div>
				</div>
				<div ng-show='showGiftsModal === 5'>5</div>
			</div>
			<div class='footer' ng-show='showGiftsModal === 2'>
				<div class='columns flex'>
					<div class='col'>
						<p>
							1 Сын мой! наставления моего не забывай, и заповеди мои да хранит сердце твое
						</p>
						<p>
							2 ибо долготы дней, лет жизни и мира они приложат тебе.
						</p>
						<p class='autor' as-reader-link="ru:prov:3:1-2">Слова Соломона | Притчі 3:1-2</p>
					</div>
				</div>
				<div class='columns flex'>
					<div class='col'>
						<p>8 Мудрый сердцем принимает заповеди, а глупый устами преткнется.</p>
						<p class='autor' as-reader-link="ru:prov:10:18">Слова Соломона | Притчі 10:8</p>
					</div>
				</div>
				<div class='columns flex'>
					<div class='col'>
						<p>А что мы познали Его, узнаем из того, что соблюдаем Его заповеди.</p>
						<p>Кто говорит: "я познал Его ", но заповедей Его не соблюдает, тот лжец, и нет в нем истины;</p>
						<p class='autor' href="ru:john1:2:3-4">Перше послання від Іоанна 2:3-4</p>
					</div>
				</div>
				<div class='columns flex'>
					<div class='col'>
						<p>Что мы любим детей Божиих, узнаём из того, когда любим Бога и соблюдаем заповеди Его</p>
						<p class='autor' href="ru:john1:5:2">Перше послання від Іоанна 5:2</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>