<div class="amo-links">
  <div class="breadcrumbs clearfix">
    <div class="go-left breadcrumb amo-theme-color" ng-repeat="breadcrumb in $ctrl.breadcrumbs"
      ng-click="$ctrl.goToDir(breadcrumb.id)" ng-bind="breadcrumb.name || 'Дом'"></div>
    <button class="btn info amo-theme-color-on-hover go-right general">
      i
      <span class="tooltip">
        Здесь вы можете сохранять свои Библейские ссылки. Данные сохраняются в памяти браузера.
      </span>
    </button>
  </div>
  <form name="folder-form" class="folder-form amo-links-toolbar clearfix">
    <input type="text" name="folder" class="inp txt m steel folder-amender go-left" placeholder="Имя папки">
    <button type="button" ng-if="!$ctrl.process || $ctrl.process.type !== 'update-folder'" class="btn m steel create-folder amo-theme-color-on-hover go-left" ng-click="$ctrl.createFolder();" ng-bind="'Создать папку'"></button>
    <button type="button" ng-if="$ctrl.process.type === 'update-folder'" class="btn m steel create-folder amo-theme-color-on-hover go-left" ng-click="$ctrl.updateFolder($ctrl.process.folder);" ng-bind="'Изменить папку'"></button>
  </form>
  <div class="workspace">
    <div ng-if="$ctrl.process" class="{{'active-process ' + $ctrl.process.type}}">
      <div class="balancer">
        <div class="process-message" ng-bind="$ctrl.process.message || ''"></div>
        <button class="btn m sober-light" ng-click="$ctrl.discardProcess($ctrl.process)" ng-bind="$ctrl.process.discardMessage"></button>
        <button class="btn m sober-dark" ng-if="$ctrl.process.commitMessage"
          ng-click="$ctrl.commitProcess($ctrl.process)" ng-bind="$ctrl.process.commitMessage"></button>
      </div>
    </div>
    <div class="amo-links-folders-list">
      <div class="amo-links-folder amo-links-content-item clearfix" ng-click="$ctrl.active = folder.id"
        ng-repeat="folder in $ctrl.model.folders" ng-class="{active: $ctrl.active === folder.id}"
        ng-if="folder.childOf === $ctrl.currentDirId" ng-dblclick="$ctrl.goToDir(folder.id)">
        <img src="./images/folder.svg">
        <span ng-bind="folder.name || '..'"></span>
        <span class="managing-tools go-right" ng-if="folder.name">
          <span class="update tool" ng-click="$ctrl.goUpdateFolder(folder)"><img src="./images/edit.svg"></span>
          <span class="delete tool" ng-click="$ctrl.goDeleteFolder(folder)"><img src="./images/bucket.svg"></span>
        </span>
      </div>
      <div class="nothing-here col-md-12" ng-if="!$ctrl.model.folders" ng-bind="'Здесь пока нет папок'"></div>
      <div class="amo-links-list">
        <div class="amo-link amo-links-content-item amo-theme-color clearfix" ng-click="$ctrl.active = link.id"
          ng-class="{active: $ctrl.active === link.id}" ng-dblclick="$ctrl.visitRef(link.url)"
          ng-repeat="link in $ctrl.currentDir.links track by $index">
          <span class="amo-link-ref inherit color" ng-click="$ctrl.visitRef(link.url);" ng-bind="link.url | BibleReference:'n c:v'"></span>
          <span class="amo-link-name" ng-bind="link.name || link.url"></span>
          <span class="managing-tools go-right">
            <span class="update tool" ng-click="$ctrl.goUpdateLink(link, null)"><img src="./images/edit.svg"></span>
            <span class="delete tool" ng-click="$ctrl.goDeleteLink(link)"><img src="./images/bucket.svg"></span>
          </span>
        </div>
        <div class="nothing-here col-md-12" ng-if="!$ctrl.currentDir.links.length" ng-bind="'В этой папке еще нет ссылок'"></div>
      </div>
    </div>
  </div>
  <form name="link-form" class="link-form amo-links-amender clearfix ">
    <input type="text" name="link" class="inp txt m steel m full-size" placeholder="ссылка" required>
    <input type="text" name="name" class="inp txt m steel full-size" placeholder="описание">
    <button type="button" ng-if="!$ctrl.process || $ctrl.process.type !== 'update-link'" class="btn m steel create-link full-size amo-theme-color-on-hover" ng-click="$ctrl.saveLink();" ng-bind="'Создать ссылку'"></button>
    <button type="button" ng-if="$ctrl.process.type === 'update-link'" class="btn m steel create-link full-size amo-theme-color-on-hover" ng-click="$ctrl.updateLink($ctrl.process.link);" ng-bind="'Сохранить'"></button>
  </form>
</div>

<style>
  amo-bible-links {
    display: block;
    margin: 0 -8px;
  }
  .amo-links {
    /*box-shadow: 0 0 16px #0000001c;*/
    border-radius: 3px 3px 0 0;
    position: relative;
  }
  .amo-links-toolbar {
    border-radius: 2px 2px 0 0;
    padding: 4px 8px;
  }
  .parent-dir:hover {
    background: rgba(0,0,0, .1);
  }
  .parent-dir {
    background: none;
    color: #fff;
    font-size: 25px;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
  }
  .parent-dir:disabled {
    opacity: 0.1;
  }
  .folder-amender {
    border-right: 0;
    border-radius: 2px 0 0 2px;
    width: 50%;
  }

  .create-folder {
    border-radius: 0 2px 2px 0;
    width: 50%;
  }
  .hide-links {
    color: #fff;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
  }
  .hide-links:hover {
    background: rgba(0,0,0, .1);
  }

  .breadcrumbs {
    background: #fff;
    /*border-bottom: 1px solid #eee;*/
    padding-left: 8px;
  }
  .breadcrumb {
    cursor: pointer;
    padding: 8px;
    position: relative;
  }
  .breadcrumb:not(:last-of-type):before,
  .breadcrumb:after {
    content: '';
    border: 9px solid transparent;
    position: absolute;
    top: 9px;
  }
  .breadcrumb:not(:last-of-type):before {
    border-left: 7px solid #eee;
    right: -13px;
  }
  .breadcrumb:not(:last-of-type):after {
    border-left: 7px solid #fff;
    right: -12px;
  }
  .info.general {
    height: 20px;
    margin: 7.5px;
    position: absolute;
    right: 0;
    width: 20px;
  }
  .info:focus .tooltip {
   display: block; 
  }
  .tooltip {
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0 0 16px #00000008;
    display: none;
    padding: 12px 4px;
    position: absolute;
    margin-top: 4px;
    right: -2px;
    width: 284px;
    z-index: 333;
  }
  .workspace {
    background: #fff;
    margin: 4px 0;
    max-height: 50%;
    min-height: 80px;
    overflow: auto;
    position: relative;
  }
  .nothing-here {
    text-align: center;
  }
  .managing-tools {
    visibility: hidden;
    position: absolute;
    right: 0;
  }
  .tool {
    color: #eee;
    cursor: pointer;
  }
  .tool img {
    opacity: 0.5;
  }
  .tool img:hover {
    opacity: 1;
  }
  .update .link:hover {
    color: #797979;
  }
  .delete .link:hover {
    color: #e47777;
  }

  .amo-links-content-item {
    cursor: default;
    height: 24px;
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .amo-links-list {
    overflow: auto;
  }
  .amo-link-ref {
    cursor: pointer;
  }
  .amo-link img {
    width: 24px;
    float: left;
    margin-top: -4px;
    margin-right: 4px;
  }

  .amo-links-folders-list {
    /*background: #fbfbfb;
    border-bottom: 1px solid #eee;*/
    overflow: auto;
  }
  .amo-links-content-item:hover,
  .amo-links-content-item.active {
    background: #eee; 
  }
  .amo-links-content-item:hover .managing-tools {
    visibility: visible;
  }
  .amo-links-content-item .tool.update img {
    width: 18px;
    margin-top: 0px;
  }
  .amo-links-folder img {
    width: 24px;
    float: left;
    margin-top: -4px;
    margin-right: 4px;
  }


  .amo-links-amender {
    border-radius: 0 0 2px 2px;
    padding-top: 4px;
  }
  .active-process {
    background: rgba(224, 220, 197, 0.75);
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
  .active-process.update-folder:before {
    border: 6px solid transparent;
    border-top-color: #fff;
    content: '';
    left: 50%;
    margin-left: -7px;
    position: absolute;
  }
  .active-process.update-link:before {
    border: 6px solid transparent;
    border-bottom-color: #fff;
    content: '';
    left: 50%;
    margin-left: -7px;
    position: absolute;
    bottom: 0;
  }
  .process-message {
    padding-bottom: 12px;
  }
  .balancer {
    margin: auto;
    text-align: center;
  }

  .fox-to-col {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .full-size {
    margin: 0 0 8px 8px;
    width: calc(100% - 16px);
  }
  .mb12px {
    margin-bottom: 10px;
  }
</style>