<div class="amo-theme">
  <div class="theme current clearfix">
    <div class="text" ng-bind="amoTheme.currentTheme.text"></div>
    <div class="theme-color" style="background: {{amoTheme.currentTheme.id}}"></div>
  </div>
  
  <div class="theme clearfix" ng-repeat="stone in amoTheme.stones track by stone.id" ng-click="amoTheme.switchTheme(stone)">
    <div class="text" ng-bind="stone.text"></div>
    <div class="theme-color" style="background: {{stone.id}}"></div>
  </div>
</div>
<style>
  .amo-theme {
    border-radius: 0 0 2px 2px;
    color: #fff;
    cursor: pointer;
    height: 26px;
    left: 50px;
    /*opacity: .4;*/
    overflow: hidden;
    position: fixed;
    top: 0;
    padding: 2px 8px 4px;
    z-index: 1;
  }
  .amo-theme:hover {
    height: auto;
  }
  .theme {
    padding: 2px 4px;
  }
  .text {
    color: #fff;
    float: left;
  }
  .theme-color {
    border-radius: 50%;
    float: right;
    height: 16px;
    margin-left: 8px;
    width: 16px;
  }
</style>