
	<div class="book-toolbar">
		<div class="reader-meta">
			<div class="history-gliders go-left">
				<button class="btn xs solid history-glider back"
						ng-disabled="$ctrl.history[$ctrl.history.length - 1].isCurrent"
						ng-click="$ctrl.glideInHistory(-1)"><</button>
				<button class="btn xs solid history-glider ahead"
						ng-disabled="$ctrl.history[0].isCurrent"
						ng-click="$ctrl.glideInHistory(1)">></button>
			</div>
			<div class="fullscreen-trigger go-right" title="{{'reader.read_in_fuullscreen' | translate}}"
				ng-click="$ctrl.openFullScreen($ctrl.reference)" onclick="amoGoFullScreen();">
				<svg fill="#fff" width="20" height="20" viewBox="0 0 18 18"><path d="M4.5 11H3v4h4v-1.5H4.5V11zM3 7h1.5V4.5H7V3H3v4zm10.5 6.5H11V15h4v-4h-1.5v2.5zM11 3v1.5h2.5V7H15V3h-4z"/></svg>
			</div>
			<div class="go-right relevant-ref" ng-click="$ctrl.navigate($ctrl.reference)">{{$ctrl.reference | BibleReference:'n c:v'}}</div>
		</div>
		<button class="btn m blank remove-instance" ng-click="$ctrl.removeInstance()">✖</button>
		<div class="toolbar-menu clearfix">
			<div class="tab" ng-class="{active: $ctrl.currentTabIs('navigation')}" 
				 ng-click="$ctrl.switchToTab('navigation')" ng-bind="'reader.navigation' | translate"></div>
			<div class="tab" ng-class="{active: $ctrl.currentTabIs('search')}"
				 ng-click="$ctrl.switchToTab('search')" ng-bind="'reader.search' | translate"></div>
			<div class="tab" ng-class="{active: $ctrl.currentTabIs('share')}"
				 ng-click="$ctrl.switchToTab('share')" ng-bind="'reader.share' | translate"></div>
		</div>
		<div ng-if="$ctrl.currentTabIs('search')" class="search-box">
			<input type="text" placeholder="{{'reader.find_in_Bible' | translate}}" id="search" ng-model="$ctrl.searchParam" 
				class="inp txt m sensation search" ng-keyup="$ctrl.runSearch($event, $ctrl.searchParam)">
			<button class="btn m primary find" ng-click="$ctrl.runSearch($event, $ctrl.searchParam)"
			  ng-bind="'reader.find' | translate"></button>
			<div class="search-settings">
				<input type="radio" ng-model="$ctrl.booksToSearchIn.option" 
						name="search-place" value="selected" id="in-checked-books">
				<label for="in-checked-books" ng-bind="'reader.in_selected_books' | translate"></label>
				<input type="radio" ng-model="$ctrl.booksToSearchIn.option"
						name="search-place" value="all" id="in-all-books">
				<label for="in-all-books" ng-bind="'reader.in_all' | translate">				</label>
				<span class="results-link" ng-if="$ctrl.searchResults" ng-click="$ctrl.displayResults(!$ctrl.showResults)">
					<span ng-bind="'reader.results' | translate"></span>
					<span class="amount" ng-bind="' (' + $ctrl.searchResults.length + ')'"></span>
				</span>
			</div>
		</div>
		<div ng-if="$ctrl.currentTabIs('share') === true" class="share-box">
			<input type="text" id="link-to-share" class="inp txt m sensation share" readonly value="{{'http://adventamo.com/?read=' + $ctrl.reference}}">
			<button class="btn m primary copy" ngclipboard data-clipboard-target="#link-to-share">
				Ctrl + C</button>
			<div class="summary" ng-bind="$ctrl.reference | BibleReference"></div>
		</div>
		<div ng-if="$ctrl.currentTabIs('navigation')" class="navigation-box clearfix">
			<div class="select-book clearfix">
				<button class="btn m sensation collapse-books" ng-click="$ctrl.collapseBooks()">
					<svg width="24" height="24" viewBox="-256 -384 2048 2048">
						<g transform="scale(1 -1) translate(0 -1280)"><path d="M1536 192v-128q0 -26 -19 -45t-45 -19h-1408q-26 0 -45 19t-19 45v128q0 26 19 45t45 19h1408q26 0 45 -19t19 -45zM1536 704v-128q0 -26 -19 -45t-45 -19h-1408q-26 0 -45 19t-19 45v128q0 26 19 45t45 19h1408q26 0 45 -19t19 -45zM1536 1216v-128q0 -26 -19 -45 t-45 -19h-1408q-26 0 -45 19t-19 45v128q0 26 19 45t45 19h1408q26 0 45 -19t19 -45z"/></g>
					</svg>
				</button>
				<input type="text" ng-model="$ctrl.navigationQuery" id="bible-book"
					placeholder="{{'reader.Bible_book' | translate}}" class="inp txt m sensation find-book">
				<div class="autocomplete" amo-autocomplete-for="#bible-book" bible-book="$ctrl.navigationQuery" callback="$ctrl.switchToBook"></div>
				<div class="go-left" ng-if="$ctrl.reference">
					<button class="btn m sensation quick-links-trigger">
						Ссылки					
					</button>
					<div class="tooltip quick-links">
						История
						<div class="division history">
							<div ng-repeat="place in $ctrl.history track by $index" class="history-item" 
								ng-class="{current: place.isCurrent}" ng-mousedown="$ctrl.glideInHistory(place)">
								{{place.ref | BibleReference}}
							</div>
						</div>
					</div>
					<!--<button class="btn m sensation go-neighbor-book" ng-bind="$ctrl.getPrevBook($ctrl.reference).alias"
					  ng-click="$ctrl.navigate($ctrl.getPrevBook($ctrl.reference).lang + ':' + $ctrl.getPrevBook($ctrl.reference).id)">					
					</button>
					<button class="btn m sensation go-neighbor-book" ng-bind="$ctrl.getNextBook($ctrl.reference).alias"
					  ng-click="$ctrl.navigate($ctrl.getNextBook($ctrl.reference).lang + ':' + $ctrl.getNextBook($ctrl.reference).id)">									
					</button>-->
				</div>
			</div>
			<div class="navigation-agents">
				<div class="agent" ng-repeat="chapter in $ctrl.state.book.chapters track by $index"
					 ng-class="{active: $ctrl.state.chapterIndex === $index}"
					 ng-if="$ctrl.state.book.chapters.length > 1" 
					 ng-click="$ctrl.navigate({chapter: $index + 1, verse: 0})">.
					  <span class="pointer">{{$index + 1}}</span>
				</div>
			</div>
			<div class="navigation-agents">
				<div class="agent" ng-repeat="verse in $ctrl.state.chapterMap track by $index"
					 ng-class="{active: $ctrl.state.verseIndex === $index}"
					 ng-click="$ctrl.navigate({verse: $index + 1})">
					.<span class="pointer">{{$index + 1}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="spinner-wrapper" ng-if="$ctrl.inProcess">
		<div class="loader">
			<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
		</div>
	</div>
	<div class="reader bible slim-scroll">
		<div class="cover search-results slim-scroll" ng-if="$ctrl.searchResults.length && $ctrl.showResults && $ctrl.currentTabIs('search')">
			<div class="result-item"
				 ng-repeat="result in $ctrl.searchResults | orderBy: '-rate' | limitTo: $ctrl.searchResultsLimit track by $index" 
				 ng-mousedown="$ctrl.actionWithResultItem($event, result.reference)">
				{{result.reference | BibleReference}} <!--span ng-bind="result.rate"></span-->
				<div class="scripture" ng-bind-html="result.scripture"></div>
			</div>
			<div class="more-results" ng-show="$ctrl.searchResultsLimit < $ctrl.searchResults.length"
				 ng-click="$ctrl.searchResultsLimit = $ctrl.searchResultsLimit + 24" ng-bind="'reader.show_more' | translate"></div>
		</div>
		<div class="cover slim-scroll" ng-if="$ctrl.currentTabIs('share')">
			<div class="links">
				<amo-bible-links wrapper-config="$ctrl.linkStorageConfig"></amo-bible-links>
			</div>
			<!--div class="division history">
				<div ng-repeat="place in $ctrl.history track by $index" class="history-item" 
					 ng-class="{current: place.isCurrent}" ng-click="$ctrl.glideInHistory(place)">
					{{place.ref | BibleReference}}
				</div>
			</div-->
		</div>
		<div class="book" id="{{book.id}}"
			 ng-repeat="book in $ctrl.books track by book.alias"
			 ng-class="{open: book.open, 'with-data': book.chapters.length}">
			<div class="book-name" ng-click="$ctrl.toggleBook(book)">
				<!--span amo-stop-prop class="book-checker go-left">
					<input type="checkbox" ng-model="book.checked">
				</span-->
				<span class="alias" title="{{book.name}}">{{book.alias}}</span>
				<span class="name">{{book.name}}</span>
			</div>
			<div class="chapters">
				<div class="chapter" ng-repeat="chapter in book.chapters track by $index">
					<div class="chapter-number" title="{{book.name + ' ' + ('reader.chapter' | translate) + ' ' + ($index + 1)}}">
						<span class="move-to-chapter go-left" ng-click="$ctrl.navigate({verse: 0, chapter: ($index === 0 ? book.chapters.length : $index) })">
							<svg style="margin-left: -2px;" width="21px" height="21px" role="img" viewBox="0 0 192 512">
								<path d="M4.2 247.5L151 99.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17L69.3 256l118.5 119.7c4.7 4.7 4.7 12.3 0 17L168 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 264.5c-4.7-4.7-4.7-12.3 0-17z"></path>
							</svg>
						</span>
						{{book.alias + " " + ($index + 1)}}
						<span class="move-to-chapter go-right" ng-click="$ctrl.navigate({verse: 0, chapter: ($index + 2 > book.chapters.length ? 1 : $index + 2)})">
							<svg width="21px" height="21px" style="margin-right: -2px;" role="img" viewBox="0 0 192 512">
								<path d="M187.8 264.5L41 412.5c-4.7 4.7-12.3 4.7-17 0L4.2 392.7c-4.7-4.7-4.7-12.3 0-17L122.7 256 4.2 136.3c-4.7-4.7-4.7-12.3 0-17L24 99.5c4.7-4.7 12.3-4.7 17 0l146.8 148c4.7 4.7 4.7 12.3 0 17z" class=""></path>
							</svg>
						</span>
					</div>
					<div class="verses">
						<p class="verse" ng-repeat="verse in chapter track by $index" amo-prevent-default="['click']"
						   ng-right-click="$ctrl.setCandidate($ctrl.lang + ':' + book.id + ':' + ($parent.$index + 1) + ':' + ($index + 1))"
						   menu-items="$ctrl.verseActions" menu-class="verse-actions"
						   ng-dblclick="$ctrl.navigate($ctrl.lang + ':' + book.id + ':' + ($parent.$index + 1) + ':' + ($index + 1))"
						   ng-mousedown="$ctrl.handeleVerseManipulation($event, book.id + ':' + ($parent.$index + 1) + ':' + ($index + 1))">
							<span class="verse-num">{{$index + 1}}</span>{{" " + verse}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="reader-footer">
		
	</div>
