
.module{
	margin-bottom: 32px;
}
.column{
	margin: 0 auto;
	width: 960px;
}
.slide{
	height: 400px;
	width: 100%;
	display: flex;
}
.learn{
	background: url('../images/learn.jpg') center;
	background-size: cover;
	-webkit-filter: invert(0.2);
}
.mediator{
	background: url('../images/mediator.jpg') center;
	background-size: cover;
	-webkit-filter: invert(0.1);
}
.law{
	background: url('../images/law.jpg') center;
	background-size: cover;
	-webkit-filter: invert(0.1);
}

.slide .message {
	//padding: 48px 24px;
	margin: auto;
}
.slide h1 {
	color: #fff;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin-bottom: 12px;
}
.absolute{
	position: absolute;
	z-index: -1;
}
.slide .message p{
	color: #A0DE52;
    padding: 4px 12px;
}
.slide .message section {
    background: rgba(0,0,0, .4);
	border-radius: 3px;
	margin: 0 auto;
	width: 60%;
}
.slide .message .source {
	background: none;
	color: #fff;
	cursor: pointer;
	text-align: right;
	font-size: 14px;
	margin: auto;
    width: 60%;
}

.fact{
	//margin: auto;
}
.facts{
	width: 30%;
}
.facts a.active:after{
	content: '',
	
}
.facts a.active{
	background: #93e42d;
	color: #fff;
	background: #A0DE52;
}
.facts a:not(.active):hover{
	background: #eee;
}
.facts a{
	cursor: pointer;
	display: block;
	padding: 8px 12px;
}
.fact{
	width: 70%;
}
.fact p{
	padding: 8px 12px;
}

moby-scroll:hover{
	background: linear-gradient(#555, #333);
	box-shadow: 0 0 3px rgba(0,0,0, .4), inset 0 0 0 1px rgba(255,255,255, .1);
}
moby-scroll{
	background: rgba(0,0,0, .3);
	border-radius: 3px;
	width: 30px;
	min-height: 30px;
	right: 	0px;
	position: absolute;
	top: 0;
}

.expander {
	background: linear-gradient(#fff, #eee);
	border-bottom: 1px solid #BCAA70;
	//border-top: 1px solid #BCAA70;
	margin: 8px 0 12px 0;
	overflow: hidden;
}

.expander.collapsed{
	height: 24px;
	padding: 24px 0 0 0 !important;
	//width: auto;
}
.colp:hover{
	background: rgba(0,0,0, .1);
}
.colp {
	height: 24px;
}
.expander.collapsed:hover:before{
	content: '';
	cursor: pointer;
    border: 6px solid #bcaa70;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom-color: transparent;
    position: absolute;
    margin-left: 198px;
    margin-top: -13px;
}
.expander:not(.collapsed):hover:after{
	content: '';
	cursor: pointer;
    border: 5px solid #bcaa70;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top-color: transparent;
    position: absolute;
    margin-left: 186px;
    margin-top: -2px;
}

.as-reader-link {
	cursor: pointer;
}