.amo-search-for-main-page {
  margin: 0 auto;
  position: absolute;
  top: 50px;
  width: 100%;
}
.amo-search-for-main-page amo-search {
  margin: 0 auto;
}

.open-options {
  color: #fff;
  display: inline-block;
  margin-top: 12px;
}